<!-- Toggle Button for Collapse -->
<!-- <div>
    <button class="btn btn-primary d-lg-none mb-3" type="button" data-toggle="collapse" data-target="#categoryCollapse"
        aria-expanded="false" aria-controls="categoryCollapse">
        Toggle Categories
    </button> -->

    <!-- all categories -->
    <div class="all-categories">

        <!-- the href of each of the following (anchor) tag is given dynamically using JS in script.js -->
        <a class="category-link">
            <div class="category" data-category="Trending">
                <i class="fa-solid fa-fire"></i>
                <p class="para Trending">Trending</p>
            </div>
        </a>
        <a class="category-link">
            <div class="category" data-category="Valley">
                <i class="fa-solid fa-mountain-sun"></i>
                <p class="para Valley">Valley</p>
            </div>
        </a>
        <a class="category-link">
            <div class="category" data-category="Adventure">
                <i class="fa-brands fa-space-awesome"></i>
                <p class="para Valley">Adventure</p>
            </div>
        </a>
        <a class="category-link">
            <div class="category" data-category="Farm">
                <i class="fa-solid fa-tractor"></i>
                <p class="para Farm">Farm</p>
            </div>
        </a>
        <a class="category-link">
            <div class="category" data-category="Mansion">
                <i class="fa-brands fa-fort-awesome"></i>
                <p class="para Mansion">Mansion</p>
            </div>
        </a>
        <a class="category-link">
            <div class="category" data-category="Pool">
                <i class="fa-solid fa-water-ladder"></i>
                <p class="para Pool">Pool</p>
            </div>
        </a>
        <a class="category-link">
            <div class="category" data-category="Camping">
                <i class="fa-solid fa-person-shelter"></i>
                <p class="para Camping">Camping</p>
            </div>
        </a>
        <a class="category-link">
            <div class="category" data-category="Hiking">
                <i class="fa-solid fa-person-hiking"></i>
                <p class="para Hiking">Hiking</p>
            </div>
        </a>
        <a class="category-link">
            <div class="category" data-category="Arctic">
                <i class="fa-solid fa-snowflake"></i>
                <p class="para Arctic">Arctic</p>
            </div>
        </a>
        <!-- tax category  -->
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input type="checkbox" role="switch" id="flexSwitchCheckDefault" class="form-check-input">
                <label for="flexSwitchCheckDefault" class="form-check-label">Display total after taxes</label>
            </div>
        </div>
    </div>
<!-- </div> -->