
<footer class="footer py-1">
  
  <ul class="nav col-md-4 d-flex text-center justify-content-center">
    <li class="ms-3"><i class="fa-brands foot-icon fa-square-facebook"></i></li>
    <li class="ms-3"><i class="fa-brands foot-icon fa-square-instagram"></i></li>
    <li class="ms-3"><i class="fa-brands foot-icon fa-square-twitter"></i></li>
  </ul>

    <div class="col-md-4 d-flex justify-content-center  align-items-center">
      <span class="mb-3 mb-md-0 fw-bold">© 2024 Wanderlust, Inc</span>
    </div>
    
  <div class="footer-links d-flex align-items-center">
    <a class="mx-2" href="/privacy">Privacy</a>
    <a class="mx-2" href="/terms">Terms</a>
  </div>
  

  </footer>