<!-- using ejs mate to add layouts -->
<%- layout("/layouts/boilerplate") %>

    <body>
        <%- include('../includes/categories.ejs') %>

         <!-- no data available -->
         <% if(!allListings.length){ %>
            <%- include("../includes/NoData.ejs") %>
                <% } %>


        <!-- all listings -->
        <%- include("../includes/allListings.ejs") %>
    </body>